.s2{
    background-image: url("fundo2.fw.png") ;

    background-repeat: repeat-x  ;
    background-size: left ;
    background-position:  top  ;
    
    
}

body{
    background-color: #f7f7f7;
    background-image: url(ze.fw.png);
    background-repeat: no-repeat;
    background-position: center;
}


.s3{
    background-color:#bdbfc2;
    padding-left: 50px;
    background-image: url("fundo.fw.png");
    color: white;
}





/* //////////////// BARRA DE ROLAGEM PRETA ////////////////////////// */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background:#FF4D4D;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: rgb(155, 14, 14);
    border-radius: 50px;
}
/*  ////////////////  FIM BARRA DE ROLAGEM //////////////////////////  */





