.s2{
    background-image: url("fundo2.fw.png") ,url("ze.jpg") ;

    background-repeat: repeat-x , no-repeat;
    background-size: left, cover;
    background-position:  top, center center ;
    
    
}

body{
    background-color: #2f353a;
}


.s3{
    background-color:#bdbfc2;
    padding-left: 50px;
    background-image: url("fundo.fw.png");
    color: white;
}





/* //////////////// BARRA DE ROLAGEM PRETA ////////////////////////// */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background:#FF4D4D;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background: rgb(155, 14, 14);
    border-radius: 50px;
}
/*  ////////////////  FIM BARRA DE ROLAGEM //////////////////////////  */





